<div class="my-3 container d-flex smooth" [ngClass]="{visible: !isVisible}">
    <input type="search" class="form-control flex-grow-1 " id="exampleFormControlInput1" placeholder="search by name,artist or company">
    <button class="btn btn-primary ms-3"><i class="fa-solid fa-magnifying-glass"></i></button>
  </div>
<div class="container">
  <div class="row">
    @for(item of viewList;track $index){
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
    <div class="card ">
      <img
        src="https://media.themoviedb.org/t/p/w220_and_h330_face/{{item.poster_path}}"
        class="card-img-top"
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.original_title }}</h5> 
        <p class="card-text">{{ item.overview }}</p>
        <a
          [routerLink]="['/details', item.id]"
          routerLinkActive="active"
          class="btn btn-primary"
          >show details</a
        >
      </div>
    </div>
</div>
}
  </div>
</div>
